services/parser/Аналитика тендера-3.json
{
  "name": "Аналитика тендера",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH doc_summary AS (\n  -- Собираем контекст из документов\n  SELECT \n    object_number,\n    jsonb_agg(jsonb_build_object(\n      'doc_kind', doc_kind_code,\n      'summary', summary,\n      'risks', risk_flags,\n      'terms', key_terms\n    )) as docs_context\n  FROM tender_attachments_summary\n  GROUP BY object_number\n),\nitems_summary AS (\n  SELECT \n    object_number,\n    COUNT(*) as items_count,\n    jsonb_agg(jsonb_build_object(\n      'name', item_name,\n      'price', price_for_one,\n      'qty', quantity_value,\n      'foreign_ban', is_prohibition_foreign,\n      'okpd2', okpdname,\n      'characteristics_len', CASE \n                               WHEN jsonb_typeof(characteristics_detailed_json) = 'array' \n                               THEN jsonb_array_length(characteristics_detailed_json) \n                               ELSE 0 \n                             END\n    )) FILTER (WHERE id IS NOT NULL) as items_sample\n  FROM tender_items\n  GROUP BY object_number\n)\nSELECT \n  tg.object_number,\n  tg.maxprice,\n  tg.startdt,\n  tg.enddt,\n  tg.placingway_name,\n  tg.fullname as customer_fullname,\n  tg.inn as customer_inn,\n  tg.deliveryplace,\n  tg.is_subcontractors_req,\n  tg.is_small_or_middle,\n  \n  COALESCE(ds.docs_context, '[]'::jsonb) as docs,\n  COALESCE(isum.items_sample, '[]'::jsonb) as items\n  \nFROM tenders_gov tg\nJOIN doc_summary ds ON tg.object_number = ds.object_number\nLEFT JOIN items_summary isum ON tg.object_number = isum.object_number\nLEFT JOIN tender_analytics ta ON tg.object_number = ta.object_number\nWHERE ta.id IS NULL \n  -- Доп фильтр: берем только если есть хоть какие-то доки или товары, чтобы не тратить токены на пустышки\n  AND (ds.docs_context IS NOT NULL OR isum.items_sample IS NOT NULL)\nLIMIT 5;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        0
      ],
      "id": "3a9fd7f2-3b05-4dd0-bfab-5ba0e1ae5073",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "I9PGjAMStl3ugHXq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Вот данные по тендеру с object_number {{ $json.object_number }}:\n{{ JSON.stringify($json) }}\n\nПроанализируй и верни ответ в формате, описанном в system prompt.\n",
        "options": {
          "systemMessage": "Ты — ведущий тендерный аналитик (44-ФЗ/223-ФЗ). Твоя задача — синтез разрозненных фактов в единую аналитику.\n\nДАННЫЕ:\n1. Базовые условия: заказчик, цена, сроки.\n2. Товары: список, цены, ограничения (foreign_ban).\n3. Документы: саммари условий и рисков, найденных ранее в текстах файлов.\n\nЗАДАЧИ:\n1. Сверить сроки: Реалистичны ли даты (enddt - startdt) для поставки таких товаров?\n2. Проверить ограничения: Есть ли конфликт \"запрет иностранного\" vs \"требования к характеристикам\"?\n3. Оценить заказчика: Есть ли признаки \"заточки\" (уникальные требования)?\n\nДОПОЛНИТЕЛЬНО:\n6. Сформируй краткое текстовое заключение по товарам/характеристикам (items_analysis):\n   - нормальные ли требования к товарам;\n   - есть ли признаки \"заточки\" под конкретного поставщика;\n   - есть ли слишком детальные/жёсткие характеристики;\n   - есть ли риск, что выполнить ТЗ смогут только 1-2 игрока.\n\nФОРМАТ ВЫВОДА СТРОГО JSON:\n{\n  \"object_number\": \"<скопируй из входных данных поля object_number>\",\n  \"risk_score\": (цифра от 1 до 10),\n  \"risk_reasons\": [...],\n  \"recommendation_text\": \"...\",\n  \"estimated_winner_type\": \"...\",\n  \"has_strict_quality_requirements\": true/false,\n  \"has_impossible_deadlines\": true/false,\n  \"has_payment_guarantees_req\": true/false,\n  \"has_technical_audit_req\": true/false,\n  \"items_analysis\": \"Краткое (3-6 предложений) заключение по товарам и характеристикам.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "504f31bb-8214-4c7f-add0-2541ff504842",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "=google/gemini-2.5-flash",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "8a374ada-f7ba-410f-9a1c-bedebe87fc01",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9GhULjV5Pp4bxBAJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const inputJson = item.json;\n  let raw = inputJson.output || inputJson.text || \"\";\n\n  if (typeof raw !== \"string\") {\n    raw = JSON.stringify(raw);\n  }\n\n  let clean = raw.trim();\n\n  // убираем ```\n  if (clean.startsWith(\"```json\")) {\n    clean = clean.slice(7).trim();\n  }\n\n  // убираем ```\n  if (clean.startsWith(\"```\")) {\n    clean = clean.slice(3).trim();\n  }\n\n  // убираем ```\n  if (clean.endsWith(\"```\")) {\n    clean = clean.slice(0, clean.length - 3).trim();\n  }\n\n  let parsedData;\n  try {\n    parsedData = JSON.parse(clean);\n  } catch (e) {\n    parsedData = {\n      error: \"JSON parse failed\",\n      rawContent: raw,\n    };\n  }\n\n  const object_number =\n    (parsedData && parsedData.object_number) ||\n    inputJson.object_number ||\n    null;\n\n  return {\n    json: {\n      ...inputJson,\n      ...parsedData,\n      object_number,\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "ecd8b065-08d4-44a7-96f1-95fff326aa55",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tender_analytics",
          "mode": "list",
          "cachedResultName": "tender_analytics"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "has_strict_quality_requirements": "={{ $json.has_strict_quality_requirements }}",
            "has_impossible_deadlines": "={{ $json.has_impossible_deadlines }}",
            "has_payment_guarantees_req": "={{ $json.has_payment_guarantees_req }}",
            "has_technical_audit_req": "={{ $json.has_technical_audit_req }}",
            "object_number": "={{ $json.object_number }}",
            "risk_score": "={{ $json.risk_score }}",
            "risk_reasons": "={{ $json.risk_reasons }}",
            "recommendation_text": "={{ $json.recommendation_text }}",
            "estimated_winner_type": "={{ $json.estimated_winner_type }}",
            "items_analysis": "={{ $json.items_analysis }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "object_number",
              "displayName": "object_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "avg_position_complexity",
              "displayName": "avg_position_complexity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "positions_with_foreign_ban",
              "displayName": "positions_with_foreign_ban",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "positions_with_subcontractor_req",
              "displayName": "positions_with_subcontractor_req",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "has_strict_quality_requirements",
              "displayName": "has_strict_quality_requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_impossible_deadlines",
              "displayName": "has_impossible_deadlines",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_payment_guarantees_req",
              "displayName": "has_payment_guarantees_req",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_technical_audit_req",
              "displayName": "has_technical_audit_req",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_score",
              "displayName": "risk_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_reasons",
              "displayName": "risk_reasons",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommendation_text",
              "displayName": "recommendation_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estimated_winner_type",
              "displayName": "estimated_winner_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "analyzed_at",
              "displayName": "analyzed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "items_analysis",
              "displayName": "items_analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        0
      ],
      "id": "9d0c2dcd-c37c-4049-9db5-f828b608723a",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "I9PGjAMStl3ugHXq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        0
      ],
      "id": "26489d49-f30a-4a33-a2ff-af029009fac3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "34fb1f6b-cd7f-4b10-9647-153ce86472e8"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        128,
        0
      ],
      "id": "2f440ee0-5e44-4a2e-836a-7c5708cb48ed",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d01624c0-bdcd-4a80-8447-c8bb8f4d89ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80bbbf8f72067be2f41f53e5220e10b1fbaaae8c0ca79d00dbdf80fd6100f3a7"
  },
  "id": "FG5T1YoiH6cflTqPySBNk",
  "tags": []
}